// nano /usr/share/themes/Default/gtk-3.0/gtk.css
// cd /etc/lightdm (aqui fondo imagen)

/*
my indicator in lightdm-gtk-greeter.conf

indicators = ~host;~power;~spacer;~~Arch Linux;~spacer;~session;~clock
*/

@define-color bg #000000;
@define-color bg_darken #8c0000;
@define-color clear rgba(0,0,0,0);
@define-color bg_alt #8c0000;
@define-color fg #ffffff;

* {
	background-clip: padding-box;
	-GtkToolButton-icon-spacing: 2;
	-GtkDialog-button-spacing: 2;
	-GtkDialog-action-area-border: 0;
	-gtk-outline-radius: 0px;
	outline-style: none;
	outline-offset: 2px;
	outline-width: 2px;
	color: @fg;
	font-weight: bold;
}

#panel_window {
  background-color: @clear;
}

#panel_window menubar {
	border: solid @clear;
	border-width: 11px 11px 11px 11px;
}

#panel_window menubar > menuitem, 
#panel_window menubar > separator {
	border: 5px solid @bg;
	background-color:  @bg;
	color: inherit; 
}

#panel_window menubar > menuitem {
	background-color: @bg_alt;
	border-color: @bg_alt;
	color: @bg;
}

#panel_window menubar menuitem:disabled {
	color: inherit; 
}

#panel_window menubar menuitem:disabled label {
	color: inherit; 
}

#panel_window menubar menu > menuitem {
	border: 10px solid @bg_darken;
	background-color: @bg_darken;
}

#content_frame {
	padding-bottom: 15px;
	background-color: @bg;
	border: solid @bg_darken;
	border-width: 6px 8px 0px 6px;
}

#content_frame button, 
#content_frame button:hover,
#content_frame button:active, 
#content_frame button:checked,
#content_frame button:disabled {
	background-color: @clear;
}

#buttonbox_frame {
	padding-top: 5px;
	padding-bottom: 0px;
	background-color: @bg;
	border: solid @bg_darken;
	border-width: 0px 8px 8px 8px;
}

#buttonbox_frame button, 
#buttonbox_frame button:hover,
#buttonbox_frame button:active, 
#buttonbox_frame button:checked,
#buttonbox_frame button:disabled {
	background-color: @bg_alt;
	border: 1px solid @bg_darken;
	padding: 2px 5px;
	min-width: 30px;
}
#login_window #user_combobox,
#login_window #username_entry,
#login_window #password_entry {
	padding: 4px 0px 4px 0px;
	border: 4px solid @bg_darken;
}
#login_window #user_combobox menu {
	padding: 2px;
	background-color: @bg_darken;
}
